body {
  background-color: #f2f2f2;
  line-height: 1.2;
  width: 100%;
  max-width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 25px;
}

header {
  background-color: #013566;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  width: 100%;
  box-sizing: border-box;
}

#logo {
  width: 150px;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

nav {
  background-color: #fff;
  display: flex;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Referencias con letra normal */
nav li a {
  color: #333;
  width: auto;
  padding: 10px;
  text-decoration: none;
  font-weight: normal;
}

article {
  padding: 20px 20% 3px 20%;
  width: 100%;
  box-sizing: border-box;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #013566;
  color: #fff;
  padding: 16px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 16px;
}

p {
  text-align: justify;
}

nav li:first-child {
  margin-left: 0;
}

/* Cambios para dispositivos móviles */
@media screen and (max-width: 1080px) {
  
  body {
    font-size: initial;
  }

  header {
    font-size: initial;
    padding: 4px;
  }

  #logo {
    width: 100px;
    max-width: 20%;
    height: auto;
    padding: 4px 0;
   }

  img {
  display: block;
  max-width: 100%;
  height: auto;
  }
  
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    overflow-x: auto;
    border-bottom: none;
 }

  article {
   padding: 10px;
  }
}
